<div class="background">

  <div class="mesh mesh-1"></div>
  <div class="mesh mesh-2"></div>
  <div class="mesh mesh-3"></div>

  <div class="glow glow-top"></div>
  <div class="glow glow-bottom"></div>

  <div class="grid"></div>

  <div class="particles">
    @for (particle of particles; track $index) {
      <span
        class="particle"
        [style.left.%]="particle.x"
        [style.top.%]="particle.y"
        [style.animationDelay.s]="particle.delay"
        [style.animationDuration.s]="particle.duration">
      </span>
    }
  </div>

</div>